/*
    1. Install Node.JS in your PC
    2. Execute in a console: npm install sass
    3. Execute one of the commands from below to compile the SCSS
    
    sass scripts/css/styles.scss scripts/css/styles.css
    sass scripts/css/styles.scss scripts/css/styles.css --watch
    sass scripts/css/styles.scss scripts/css/styles.css --watch --style compressed
*/

@import "global/fonts";
@import "global/variables";
@import "global/animated";

@import "components/editor";
@import "components/home";

//Reset
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: pkmn-team;
}

body {
    height: 100vh;
    height: 100svh;
    background-color: $background-primary;
}