//background
$background-primary : #1e1e1e;

//buttons
$button-primary : #1662c4;
$button-secondary : #109b60;
$button-tertiary : #a23007;

//panels
$panel-primary : #E9C46A;


$media : "min-width: 600px";