.bodyContainer {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    .creatorGrid {
        display: flex;
        flex-direction: column;
        justify-content: center;
        z-index: 5;

        //mobile scaling
        @media screen and (max-width: 600px) {
            transform: scale(.9);
        }

        @media screen and (max-width: 400px) {
            transform: scale(.8);
        }

        @media screen and (max-width: 360px) {
            transform: scale(.7);
        }

        @media screen and (max-width: 300px) {
            transform: scale(.6);
        }

        .leftToolbox,
        .rightToolbox {
            //styles for toolbox
            width: 80px;
            height: 256px;

            .bodyPart {
                padding: 12px;
                height: 33%;
                cursor: pointer;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 24px;
                text-transform: uppercase;
                background-size: contain;
                background-position: center;
                background-repeat: no-repeat;

                &:last-child {
                    border-bottom: unset;
                }

                &:hover {
                    transform: scale(1.05);

                    &.sticker {
                        filter: drop-shadow(1px 1px gold) drop-shadow(-1px -1px gold) drop-shadow(-1px 1px gold) drop-shadow(1px -1px gold) drop-shadow(1px 1px rgba(0, 0, 0, 0.5));
                    }
                }

                &.bodyPartGender {
                    font-size: 45px;
                    font-family: Arial;

                    &.gender_f {
                        background-image: url('./../../images/icons/toolbox/icon_genre_f.png');
                    }

                    &.gender_m {
                        background-image: url('./../../images/icons/toolbox/icon_genre_m.png');
                    }
                }

                &[data-part=body] {
                    background-image: url('./../../images/icons/toolbox/icon_body.png');
                }

                &[data-part=hair] {
                    background-image: url('./../../images/icons/toolbox/icon_hair.png');
                }

                &[data-part=shirt] {
                    background-image: url('./../../images/icons/toolbox/icon_shirt.png');
                }

                &[data-part=pants] {
                    background-image: url('./../../images/icons/toolbox/icon_pants.png');
                }

                &[data-part=shoes] {
                    background-image: url('./../../images/icons/toolbox/icon_shoes.png');
                }
            }
        }

        .bottomToolbox {
            display: flex;
            width: 100%;
            margin-top: 24px;

            button {
                width: 100%;
                display: block;
            }
        }

        .imagePreview {
            @media screen and ($media) {
                margin: auto 24px;
            }

            img {
                width: 256px;
                height: 256px;
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }

        .creatorGridColumn {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            width: 100%;
            z-index: 10;

            .selectorContainer {
                display: flex;
                justify-content: space-between;
                width: 100%;
                color: #fff;
                font-size: 32px;
                line-height: 34px;
                border-bottom: 1px solid #fff;
                margin-bottom: 12px;
                padding-bottom: 12px;

                label {
                    margin-right: 12px;
                    font-family: pkmn-start;
                }

                select {
                    font-size: 22px;
                    padding: 2px 24px;
                    border: 0;
                    border-radius: 5px;
                    overflow: hidden;
                    font-family: pkmn-team, Tahoma;

                    option {
                        font-family: pkmn-team, Tahoma;
                    }
                }
            }

            .animatedToolbox {
                margin-top: 24px;
            }
        }
    }
}

//COMPONENTS
.toolboxButton {
    background-color: $button-primary;
    border: 4px solid transparent;
    outline: none;
    padding: 12px 24px;
    width: 100%;
    text-transform: uppercase;
    font-size: 24px;
    line-height: 26px;
    cursor: pointer;
    transition: .15s ease-in-out border;
    color: #fff;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .8);

    &:disabled {
        filter: grayscale(1);
        cursor: not-allowed;

        &:hover {
            border-color: transparent;
        }
    }

    &.success {
        background-color: $button-secondary;
    }

    &.danger {
        background-color: $button-tertiary;
    }

    &:hover {
        border-color: #fff;
    }
}

.modal {
    position: fixed;
    max-width: 600px;
    width: 90%;
    height: 95%;
    background-color: #2170c4;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, .5);
    overflow: hidden;
    transition: .5s ease all;
    transform: scaleX(0);
    max-height: 0px;
    z-index: 20;

    &.visible {
        max-height: 4000px;
        transform: unset;
    }

    &.hidden {
        display: none;
    }

    .modalTitle {
        height: 50px;
        padding: 12px 24px;
        font-size: 24px;
        line-height: 26px;
        text-transform: uppercase;
        text-align: center;
        color: #fff;
        background-color: rgba(0, 0, 0, .5);
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    }

    .modalBody {
        height: calc(100% - 50px - 58px);
        overflow-x: hidden;
        overflow-y: auto;
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        padding: 4px 0px;
        grid-auto-rows: max-content;

        @media screen and (max-width: 500px) {
            grid-template-columns: repeat(3, 1fr);
        }

        .bodyPartOption {
            width: 100%;
            position: relative;
            aspect-ratio: 1/1;
            height: auto;
            transition: 0.1s ease all;
            cursor: pointer;
            display: flex;
            justify-content: center;
            align-items: center;

            &:hover {
                background-color: #7abafd7a;

                .animated {
                    animation-duration: .4s;
                }
            }

            &.active {
                background-color: rgba(255, 255, 255, .4);
            }

            &.removePart {
                &:before {
                    content: "";
                    width: 64px;
                    height: 64px;
                    background-size: cover;
                    position: absolute;
                    z-index: -1;
                    background-image: url('data:image/svg+xml,<svg width="10" height="10" viewBox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg%22%3E<path fill-rule="evenodd" clip-rule="evenodd" d="M4.57676 5L0 0.423237L0.423237 0L5 4.57676L9.57676 0L10 0.423237L5.42324 5L10 9.57676L9.57676 10L5 5.42324L0.423237 10L0 9.57676L4.57676 5Z" fill="%23fff"/></svg>');
                }
            }

            &[data-loaded=false] {
                .loading {
                    animation: animate 1.5s linear infinite;
                    clip: rect(0, 40px, 40px, 20px);
                    height: 40px;
                    width: 40px;
                    position: absolute;

                    &:before {
                        animation: animate2 1.5s ease-in-out infinite;
                        clip: rect(0, 40px, 40px, 20px);
                        content: "";
                        border-radius: 50%;
                        height: 40px;
                        width: 40px;
                        position: absolute;
                        left: 0;
                        right: 0;
                        top: 0;
                        bottom: 0;
                    }

                    @keyframes animate2 {
                        0% {
                            box-shadow: inset #fff 0 0 0 5px;
                            transform: rotate(-140deg);
                        }

                        50% {
                            box-shadow: inset #fff 0 0 0 2px;
                        }

                        100% {
                            box-shadow: inset #fff 0 0 0 5px;
                            transform: rotate(140deg);
                        }
                    }

                    @keyframes animate {
                        0% {
                            transform: rotate(0deg);
                        }

                        100% {
                            transform: rotate(220deg);
                        }
                    }
                }

            }
        }
    }

    .modalFooter {
        display: flex;
        justify-content: center;
        position: absolute;
        bottom: 0;
        right: 0;
        left: 0;
        box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.2);
    }
}

.credits {
    position: fixed;
    bottom: 24px;
    right: 24px;
    color: #fff;
    font-size: 20px;
    line-height: 22px;
    text-align: right;

    a {
        color: #fff;
        text-decoration: underline;
        text-transform: uppercase;
    }
}

.paypal {
    position: fixed;
    top: 24px;
    right: 24px;
    background-color: #ffc439;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 12px;
    width: 200px;
    transition: .05s ease all;

    @media screen and (max-width: 600px) {
        left: 24px;
        width: calc(100% - 48px);
    }

    &:hover {
        transform: scale(1.1);
    }

    img {
        width: 60px;
    }
}